* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #545454;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  background: #14bdac;
  margin: 50px;
  padding: 50px;
  width: 500px;
  height: 500px;
  border-radius: 25px;
}
