* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #545454;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  background: #14bdac;
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
}
.title {
  text-align: center;
}
.title span {
  color: #f2ebd3;
}

.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 25px;
  justify-content: space-around;
}

.reset {
  cursor: pointer;
}

.reset:hover {
  color: #f2ebd3;
}

.game-grid {
  background: #0da192;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 15px;
}

.game-cell {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;
  width: 200px;
  background-color: #14bdac;
  cursor: pointer;
}
.x::after {
  content: 'x';
  font-size: 200px;
}
.o::after {
  content: 'o';
  font-size: 200px;
}
